.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;
    color: #fff;
}
.dialogsItems .active{
    color: #fff;
}
.dialog{

}
.messages{
    padding: 10px;
}
.message{
    color: #fff;
}